@model AllErrors

@if (Model == null)
{
    <h1 style="text-align:center;"><span class="label label-default">Upload For Passive Checks</span></h1>
    <br />
    using (Html.BeginForm("Upload", "Upload", FormMethod.Post
                                            , new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="file" />
        <br />
        <input class="btn-success" type="submit" value="upload" />

    }
}
<br />

@if (Model != null)

{
    <h1 style="text-align:center;"><span class="label label-info">All Errors and Warnings List</span></h1>
    <br />
    if (Model.Warning.Count != 0)
    {
        <h2 style="text-align:center";><span class="label label-warning">Warnings</span></h2>
        <table class="table">
            <thead>
                <tr>
                    <th><span class="label label-warning">Warnings</span></th> 
                    <th><span class="label label-warning"> Field</span></th>                   
                    <th><span class="label label-warning">Row</span></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Warning)
                {
                   <tr>
                       <td>@Html.DisplayFor(modelItem => item.Comments)</td>
                       <td>@Html.DisplayFor(modelItem=>item.Field)</td>                       
                       <td>@Html.DisplayFor(modelItem => item.Row)</td>
                   </tr>
                }
            </tbody>           
        </table>
        <p><span class="label label-success">Do you Wish To continue</span></p>
         <button class="alert-warning" id="hide">No</button>
    }
        
       <button class="alert-danger" id="showError">show Error</button>
        <div id="error">
            <h3 style="text-align:center";><span class="label label-danger">Errors</span></h3>
            <table class="table">
                <thead>
                    <tr>
                        <th><span class="label label-danger">Mapping Error Type</span></th>
                        <th><span class="label label-danger">Field1</span></th>
                        <th><span class="label label-danger">Field2</span></th>
                        <th><span class="label label-danger">HierarchyBreak</span></th>
                        <th><span class="label label-danger">IncorrectHeaders</span></th>
                        <th><span class="label label-danger">EmptyFinalBeatName</span></th>
                        <th><span class="label label-danger">EmptyESM</span></th>
                        <th><span class="label label-danger">PhoneNumberCheck</span></th>
                        <th><span class="label label-danger">LinkRow</span></th>
                        <th><span class="label label-danger">Row</span></th>

                    </tr>
                </thead>
                <tbody>
                   @{ int count=0;}
                    @{string val = "ankit"; }
                    @foreach (var item in Model.Error)
                    {
                        if (count == 0)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modeItem => item.MappingErrorType)</td>
                                <td>@Html.DisplayFor(modeItem => item.Field_1)</td>
                                <td>@Html.DisplayFor(modeItem => item.Field_2)</td>
                                <td>@Html.DisplayFor(modeItem => item.HierarchyBeak)</td>
                                <td>@Html.DisplayFor(modelItem => item.IncorrectHeaders)</td>
                                <td>@Html.DisplayFor(modelItem => item.EmptyFinalBeatName)</td>
                                <td>@Html.DisplayFor(modelItem => item.EmptyESM)</td>
                                <td>@Html.DisplayFor(modeItem => item.PhoneError)</td>
                                <td>@Html.DisplayFor(modelItem => item.LinkRow)</td>
                                <td>@Html.DisplayFor(modelItem => item.LinkRow)</td>
                            </tr>
                            count = count + 1;
                        }
                        if (Html.DisplayFor(modeItem => item.Field_2).ToString() != val)
                        {
                            count = 0;
                        }
                        <tr>
                            <td class="alert">@Html.DisplayFor(modeItem => item.MappingErrorType)</td>
                            <td class="alert-info">@Html.DisplayFor(modeItem => item.Field_1)</td>
                            <td class="alert-dismissable">@Html.DisplayFor(modeItem => item.Field_2)</td>                         
                            <td class="alert-success">@Html.DisplayFor(modeItem => item.HierarchyBeak)</td>
                            <td>@Html.DisplayFor(modelItem => item.IncorrectHeaders)</td>
                            <td class="danger">@Html.DisplayFor(modelItem => item.EmptyFinalBeatName)</td>
                            <td class="">@Html.DisplayFor(modelItem => item.EmptyESM)</td>
                            <td class="alert-success">@Html.DisplayFor(modeItem=>item.PhoneError)</td>
                            <td class="alert-link">@Html.DisplayFor(modelItem => item.LinkRow)</td>
                            <td class="alert-warning">@Html.DisplayFor(modelItem => item.Row)</td>
                        </tr>
                        val = Html.DisplayFor(modeItem => item.Field_2).ToString();
                       
                    }
                </tbody>
            </table>
        </div>
    
}
<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
<script>

    $('#error').hide();
        $('#show').click(function () {
            $('#error').show();
            $('#show').hide();
            $('#hide').hide();
            $('p').hide();
        });
        $('#hide').click(function () {
            $('#error').hide();
            $('#show').hide();
            $('#hide').hide();
            $('p').hide();
            $('#showError').hide();
        });
        $('#showError').click(function () {
            $('#error').show();
            $('#show').hide();
            $('#hide').hide();
            $('p').hide();
            $('#showError').hide();
        });
</script>
